<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <title>{{meta_title}}</title>
  <meta name="viewport" content="width=device-width">

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script>
  var setting = {
    baseurl: 'http://xensoft.com',
    disqus: 'xensoft',
    ga: 'UA-43244208-1' 
  };
  </script>

  <link href="{{asset 'css/style.css'}}" rel="stylesheet" />
  <link href="{{asset 'css/colors-dark.css'}}" rel="stylesheet" />
  <link href="{{asset 'css/blueimp-gallery.min.css'}}" rel="stylesheet" />
  <link href="{{asset 'css/slicknav.css'}}" rel="stylesheet" />
  <link href='https://fonts.googleapis.com/css?family=Roboto+Mono' rel='stylesheet' type='text/css'>         <!-- Code font -->
  <link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>               <!-- Header font -->
  <!-- full list of icons at: https://fortawesome.github.io/Font-Awesome/icons/ -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> <!-- Font icon support -->

  {{ghost_head}}

</head>

<body class="{{body_class}}">



  {{#if @blog.cover}}
    <div id="coverimg" style="background-image: url({{@blog.cover}})"></div>
  {{/if}}



  <header id="header">
    {{#if @blog.logo}}
      <a id="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" /></a>
    {{else}}
      <h1><a href="{{@blog.url}}"><span class="root_red"><i class="fa fa-lg fa-linux"></i>#</span> {{@blog.title}}</a></h1>
    {{/if}}
    <p>{{@blog.description}}</p>
  </header>



  <div id="page">



    <div id="sidebar">

      <div id="navigate">
        {{navigation}}
      </div>

      {{#post}}
      {{#if author}}
        <div class="bio">
          <div class="avatar-wrapper">
            <span class="avatar" style="background-image:url({{author.image}})"></span>
          </div>
          <h3>{{author.name}}</h3>
          <p>{{author.bio}}</p>
        </div>
      {{/if}}
      {{/post}}

    </div>



    <div id="content">
      {{{body}}}
    </div>



  </div>



  <footer id="footer">
    <p class="copyright">Copyright &copy; {{date format='YYYY'}} {{@blog.title}}. Powered by <a href="http://ghost.org">Ghost</a>, theme by <a href="http://www.webmaster-source.com">Matt Harzewski</a></p>
  </footer>



  {{ghost_foot}}

  <script src="{{asset 'js/jquery-1.11.3.min.js'}}"></script>
  <script src="{{asset 'js/jquery.slicknav.min.js'}}"></script>
  <script src="{{asset 'js/blueimp-gallery.min.js'}}"></script>
  <script src="{{asset 'js/prism.js'}}"></script>
  <script>
    $(document).ready(function(){
      var postContent = $('.post-content');
      $('#navigate').slicknav();
      $('ul.nav').attr('id', 'menu');
      if (postContent.length) {
        postContent.find('img').on('click', function () {
          var img = $(this).attr('src');
          blueimp.Gallery([img]);
        });
      }
    });
  </script>

  <script>
    // Google Analytics Script
    if (setting.ga) {
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', setting.ga, 'auto');
      ga('send', 'pageview');
    }
  </script>

</body>
</html>
