<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8" />
  <title>{{meta_title}}</title>
  <meta name="viewport" content="width=device-width" />

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- default values for disqus [baseurl, disqus]
                Google analytics [ga]
                Google Adsense   [gas_client, gas_slot]
    ID where Adsense banner goes [ad_id] e.g. #header
  --> 

  <script>
    var setting = {
      baseurl:    'http://xensoft.com',
      disqus:     'xensoft',
      ga:         'UA-43244208-1',
      gas_client: 'ca-pub-0333905063777933',
      gas_slot:   '8822000487',
      ad_id:      'header',
    };
  </script>

  {{> stylesheets}}

  <!-- comment out dark and enable light to switch general theme coloring -->
  <link href="{{asset 'css/colors-dark.css'}}" rel="stylesheet" />                                            <!-- dark  theme style: enabled -->
  <!-- <link href="{{asset 'css/colors-light.css'}}" rel="stylesheet" /> -->                                  <!-- light theme style: disabled -->

  {{ghost_head}}
</head>

<body class="{{body_class}}">

  {{#if @blog.cover}}
    <div id="coverimg" style="background-image: url({{@blog.cover}})"></div>
  {{/if}}

  <div id="main">
    <div id="sidebar">
      <a href="#" id="search-open"><i class="fa fa-search"></i></a>
      <div id="navigate">
        {{navigation}}
      </div>
  
      {{#post}}
      {{#if author}}
        <div class="bio">
          <div class="avatar-wrapper">
            <span class="avatar" style="background-image:url({{author.image}})"></span>
          </div>
          <h3>{{author.name}}</h3>
          <p>{{author.bio}}</p>
        </div>
      {{/if}}
      {{/post}}
    </div>
  
    <div id="right-pane">
      <header id="header">
        {{#if @blog.logo}}
          <a id="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" /></a>
        {{else}}
          <h1><a href="{{@blog.url}}"><span class="root_red"><i class="fa fa-lg fa-linux"></i>#</span> {{@blog.title}}</a></h1>
        {{/if}}
        <p>{{@blog.description}}</p>
      </header>
  
      <div id="page">
        <div id="content">
          {{{body}}}
        </div>
      </div>

    </div>
  </div>

  <footer id="footer">
    <p class="copyright">Copyright &copy; {{date format='YYYY'}} {{@blog.title}}. Powered by <a href="http://ghost.org">Ghost</a>, <a href="https://github.com/JohnWestlund/rootkit-ghost">rootkit</a> theme by <a href="http://xensoft.com">John Westlund</a></p>
  </footer>

  {{> search-modal}}
  {{> js-footer}}
</body>
</html>
