{{!< default}}

{{#post}}
<article class="{{post_class}}">

    <h1><a href="{{ url }}">{{ title }}</a></h1>

    <div class="post-content">{{ content }}</div>

    <p class="meta">Posted on <span class="postdate">{{date format="MMM Do, YYYY"}}</span></p>

</article>
{{/post}}
<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
<section>
<div id="disqus_thread"></div>
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
var disqus_config = function () {
  {{#post}}
  this.page.url = setting.baseurl + '{{ url }}'; // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = '{{ title }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  {{/post}}
};
(function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');

  s.src = '//' + setting.disqus + '.disqus.com/embed.js';

  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

</section>
